<html>
<head>
<title>actividad</title>
</head>
<body>
  <h1>actividad</h1>  


  <h2>Libros Disponibles:</h2>
  <ul>
    <li>Don quijote</li>
    <li>10*10 años de soledad</li>
  </ul>
  <h2>horarios:</h2>
  <table border="1" width="55%">
    <th>Dia</th>
    <th>Hora</th>

    <tr>
        <td>Lunes-viernes</td>
        <td>8:00am - 18:00pm</td>
    </tr>
    <tr>
        <td>sabado</td>
        <td>12:00am - 18:00pm</td>
</tr>
<tr>
    <td>domingo</td>
    <td>no hay pa</td>
</tr>
  </table>
</body>
</html>