<link rel="stylesheet" href="css/estilo.css">
<table class="tablaFormulario">
    <th>
<div class="nombre">
  <label for="exampleFormControlInput1" class="form-label">Nombre</label>
  <input class="form-control" id="exampleFormControlInput1" placeholder="nombre">
</div>


<div class="cedula">
  <label for="exampleFormControlTextarea1" class="form-label">cedula</label>
  <input placeholder="cedula">       
</div>

<div>
<label for="exampleFormControlInput1" class="form-label">Correo</label>
<input placeholder="correo" >
</div>

<div class="direccion">
  <label for="exampleFormControlTextarea1" class="form-label">direccion</label>
  <input placeholder="direccion">       
</div>
</th>
</table>